<% comments.each_with_index do |comment,i| %>  
  <div class="comments-show">
    <div class="comment">
      <p><%= comment.user.nick %></p>
      <p><%= comment.body %><br></p>
      <% if !cookies[:login].nil? %>
        <div class="comment-nav"><a class="comment-reply" onclick="responder(<%= i %>)">responder</a></div>
      <% else %>
        <div class="comment-nav"><a class="comment-reply" onclick="responder(<%= i %>,true)">responder</a></div>
      <% end %>
      <% if comment_user? comment.user.id%>
        <div class="comment-nav"><%= link_to "deletar", comment ,method: :delete%></div>
      <% end %>
      <div class="reply-form">
        <%= form_for @new_comment do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag "Postar Resposta", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  </div>
<% end %>

<script type="text/javascript">
  function responder(id,bad_token=false){
   resp = document.getElementsByClassName('reply-form')[id];
   if(resp != null){
     if(bad_token == false){
       resp.style.display = "block";
     }else{
       resp.innerHTML = "<p id='bad_token'>É necessario estar logado para que possa responder, faça o seu <a href='/login'>login</a> e responda este comentário</p>";
       resp.style.display = "block";
     }
   }
  }
</script>