<form action='upload'>
	<p>
	<%= label_tag "Título:"%>
	<%= text_field_tag :titulo%>
	</p>

	<p>
	<%= label_tag "Descrição:"%>
	<%= text_field_tag :desc%>
	</p>

	<p>
	<%= label_tag "Arquivo:"%>
	<%= file_field(:attachment, :file, accept:'video/mp4,video/avi,video/wmv,video/mpg,video/mkv,video/mpeg') %>
	</p>
</form>