<!doctype html>
<html lang="pt">	
<body>
	<div class="mx-auto" style="padding-top: 170px; width: 300px;">
		<form action="login" class="login-form text-center">
			<h1 class="mb-3">LOGIN</h1>
			<label for="inputEmail" class="sr-only"> </label>
			<input type="name" id="inputEmail" class="form-control" placeholder="Nickname" required autofocus>
			<label for="inputPassword" class="sr-only"> </label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
			<div class="btn-group btn btn-primary col-lg-12">
				<%= submit_tag "LOGAR",:name => 'Acesso', :class => "btn btn-primary col-lg-12" %>
				<br> <br>
				<%= link_to 'NOVO USUÃRIO', new_user_path, :class => "btn btn-primary col-lg-12" %>	
			</div>
			<div>
				<% if @message !=nil%> <%# verifica a mensagem enviada da controladora%>

				<% if sucess_message @message %>
				<div class="alert alert-success">
					<p style="text-align: left;">Mensagem:</p>
					<strong><%= content_tag(:p , @message, :id => 'good_token') %></strong></br>
				</div>
				<% else %>
				<div class="alert alert-warning">
					<p style="text-align: left;">Mensagem:</p>
					<strong><%= content_tag(:p , @message, :id => 'bad_token') %></strong></br>
				</div>
				<% end %>
				<% end %>
			</div>
		</form>
	</div>
</div>
</body>
</html>

<!--<form action='login'>
	<p>
		<%= label_tag "Nickname:"%>
		<%= text_field_tag :nome%>
	</p>

	<p>
		<%= label_tag "Senha:"%>
		<%= password_field_tag :password%>
	</p>


	<%= submit_tag "Logar",
	:name => 'Acesso' %>
</form>--!>
