
<div class="mx-auto login-form text-center" style="padding-top: 170px; width: 300px">

<%= form_tag action: 'login' do %>
<div class="field">
<p>
<h2 class="text-center"> LOGIN </h2>
<%= label_tag "Nickname:"%>
<%= text_field_tag :nome%>
</p>
</div>
<p>
<%= label_tag "Senha:"%>
<%= password_field_tag :password%>
</p>


<%= submit_tag "Logar", :name => 'Acesso',:class => "btn btn-primary col-lg-12"%>

<% end %>

</div>
<!--<form action='login'>
	<p>
		<%= label_tag "Nickname:"%>
		<%= text_field_tag :nome%>
	</p>

	<p>
		<%= label_tag "Senha:"%>
		<%= password_field_tag :password%>
	</p>


	<%= submit_tag "Logar",
	:name => 'Acesso' %>
</form>--!>
