<div id="showprogress"></div>
<%= form_with(model: video, local: true, id: "form_up", multipart: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :arq_video, "Video File" %>
    <%= file_field_tag :arq_video, accept: 'video/*',id: 'upload'%>
  </div>

  <div class="actions">
    <%= form.submit "Upload",id:'submit_up' %>
  </div>
<% end %>

<script type="text/javascript">
  Form_Start();
</script>
