<p id="notice"><%= notice %></p>

<h1>Busca por "<%= params[:titulo] %>"</h1>

<table>
	<thead>
		<tr>
			<th>Video</th>
			<th>Canal</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% if @videos.empty? %>
  			<%="Nenhum video encontrado"%>
		<% else %>
			<% @videos.each do |video| %>
				<tr>
					<td><%v = '/videos/'+video.id.to_s%><a href=<%=v%>> <%= video.title%> </a> </td>
					<td><%if (video.user != -1) %>
								<% user = User.find(video.user)%><a href=<%="users/#{video.user}"%>><%=user.nick%></a>
						<%else%>
								anônimo
						<%end%>
					</td>
		<% end %>

<%
=begin
%>
					<!-- TODO: Opções de moderador -->
					<!-- <td><%= link_to 'Edit', edit_user_path(user) %></td> -->
					<!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<%
=end
%>
			</tr>
		<% end %>
	</tbody>
</table>